<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= @user.email %>
<% @review.each do |review| %>
  <tr>
    <td><%=review.course_id%></td>
    <td><%= review.review %></td>
  </tr>
<% end %>
