<div class="container-fluid bg-2 text-center">
  <h3 class="margin">About Us</h3>
  <p>Classify is a website that helps students to figure out what a particular course is about, which can help them plan their semester well.</p>
  <p>The description of the course and the reviews written by the students who have already taken that course help other students to know which course is appropriate for them for the given semester.</p>
  <p>Classify receives user inputs about class in SJSU. Students who have taken the particular courses can give reviews and tips about the courses. They can share the guidelines, green sheets and difficulty of the exams. Students can suggest what knowledge they should have before class. This website can also help determine how knowledgeable and useful, or easy and passable a class is.
</p>
  </a>
</div>
