<html>

    <head>
        <font face="Arial" color =#0277bd ><h1>Help/FAQ</h1></font>
        <hr>
        <style>
            
        body
        {
            text-align: left;
        }
            
        </style>
    </head>
<br>
    
    <body bgcolor = "#f0ffff">
        <ul>
            <li><font color = #0277bd>How do I review a professor?</font></li>
            <p> Search for your professor using search tab and select "Review him/her". </p><br>
            <li><font color = #0277bd>How do I add my class?</font></li>
            <p> Click on add button on home page below search bar. Search for your class and click on add button.  </p><br>
            <li><font color = #0277bd>Will the professor ever know what I gave him/her review?</font></li>
            <p> No, your reviews are confidential and no professor can see reviewer's identity. </p><br>
            <li><font color = #0277bd>Can I delete my review later?</font></li>
            <p> Yes, you can. </p><br>
            <li><font color = #0277bd>Why was my review deleted?</font></li>
            <p>If your review does not help others, it is automatically dropped. </p><br>
        </ul>
        
        <br>
        <br>
        <a href="http://localhost:3000" class="btn btn-default btn-lg">Home</a>
        <br>

        <hr>
        <font size = 6><b>Other problems:</b></font>
        <br>
        <br>
        <p>Who are you? 
           <p style="color:black;"> <select><font color=black>
            <optgroup lable = "student/professor">
                <option value = "student">student</option>
                <option value="professor">professor</option>
            </optgroup>
            </select></font></p>
        <br>
        <p>What problems do you face?</p>    
        <p style="color:black;"><textarea rows="10" col = "50">  </textarea></p>
        <br>
        <p>Your email:</p>
        <p style="color:black;"><font color=black><textarea rows="1" col = "50"> </textarea></font></p>
        <br>
        <br>
        <br>
        <br>
        </style>
        </input>
    </body>
</html>
