<html>
    <br>
    <!header> <!font size = 7 align = "left"><!bClassify</b><!/font> &emsp;&emsp;
        <!input class="topcorner1"type="button" value="Home">
        <style type="text/css">
            .topcorner1{
                position:relative;
                top:10px;
                right:5px;
                float:right;
                -webkit-appearance: button;
                -moz-appearance: button;
                appearance: button;
                text-decoration: none;
                color: initial;
                }


        </style>
        <!/header>
    
    <br>
    <br>
    <head>
        <font size = 5 face="Arial" >Help/FAQ</font>
     <hr>
    </head>
<br>
    
    <body bgcolor = "#f0ffff" face="Arial" align = "left">
        <ul align = "left">
            <li><font color = "blue">How do I review a professor?</font></li>
            <p> &emsp;&emsp;Search for your professor using search tab and select "Review him/her". </p><br>
            <li><font color = "blue">How do I add my class?</font></li>
            <p> &emsp;&emsp;Click on add button on home page below search bar. Search for your class and click on add button.  </p><br>
            <li><font color = "blue">Will the professor ever know what I gave him/her review?</font></li>
            <p> &emsp;&emsp;No, your reviews are confidential and no professor can see reviewer's identity. </p><br>
            <li><font color = "blue">Can I delete my review later?</font></li>
            <p> &emsp;&emsp;Yes, you can. </p><br>
            <li><font color = "blue">Why was my review deleted?</font></li>
            <p> &emsp;&emsp;If your review does not help others, it is automatically dropped. </p><br>
        </ul>
        
        <br>
        <br>
    </body>
</html>
