<html>

    <head>
        <font face="Arial" color =#0277bd ><h1>Help/FAQ</h1></font>
     <hr>
    </head>
<br>
    
    <body bgcolor = "#f0ffff" face="Arial" align = "left">
        <ul align = "left">
            <li><font color = #0277bd>How do I review a professor?</font></li>
            <p> &emsp;&emsp;Search for your professor using search tab and select "Review him/her". </p><br>
            <li><font color = #0277bd>How do I add my class?</font></li>
            <p> &emsp;&emsp;Click on add button on home page below search bar. Search for your class and click on add button.  </p><br>
            <li><font color = #0277bd>Will the professor ever know what I gave him/her review?</font></li>
            <p> &emsp;&emsp;No, your reviews are confidential and no professor can see reviewer's identity. </p><br>
            <li><font color = #0277bd>Can I delete my review later?</font></li>
            <p> &emsp;&emsp;Yes, you can. </p><br>
            <li><font color = #0277bd>Why was my review deleted?</font></li>
            <p> &emsp;&emsp;If your review does not help others, it is automatically dropped. </p><br>
        </ul>
        
        <br>
        <br>
        <a href="http://localhost:3000" class="btn btn-default btn-lg">Home</a>
        


        </style>
        </input>
    </body>
</html>
