<h1>Classify Homepage</h1>
<a href="http://localhost:3000/courses/new"><img src="/add.png" alt ="Add a course"></a>
<a href="http://localhost:3000/reviews/new"><img src="/view.png" alt ="View a course"></a>
