
<a href="http://localhost:3000/courses/new"><img src="/add.png" alt ="Add a course" vspace = "50px" hspace="50px"></a>
<a href="http://localhost:3000/reviews/new"><img src="/view.png" alt ="View a course" vspace = "50px"></a>
