<h1>Enter Class Information </h1>
<hr>
<%= form_for @course do |a| -%>
  Class: <%= a.text_field :course_id %><br /><br>
  Description: <%= a.text_area :description %><br /><br>
<div class ="btn btn-lg"><font color = "black">
  <%= a.submit value="Submit" %></font>
  </div>

<% end -%>
